<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/index.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



  </script>
  <title>Dash</title>
</head>

<body>
  <div class="conatiner">
    <div class="navigations">
      <ul>
        <li>
          <a href="">
            <span class="icon">
              <i class="fa fa-apple" aria-hidden="true"></i>
            </span>
            <span class="title">
              <h2>Opção </h2>
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li onclick="showCreateAccount(event)">
          <a href="">
            <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            <span class="title">Cadastrar Conta</span>
          </a>
        </li>
        <li  onclick="event.preventDefault();importBankStatement()">
          <a href="">
            <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
            <span class="title">Importar Extrato</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
            <span class="title">Cadastrar Movimentação</span>
          </a>
        </li>
        <li onclick="systemSignOut(event)">
          <a href="">
            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
            <span class="title">Sair</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="topbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="search">
          <label>
            <input type="text" placeholder="Search here" />
            <i class="fa fa-search" aria-hidden="true"></i>
          </label>
        </div>
        <div class="user">
          <img src="user.jpg" alt="user image" />
        </div>
      </div>
      <div class="cardBox">
        <div class="cards">
          <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Vencendo hoje</div>
          </div>
          <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cards">
          <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Daily Views</div>
          </div>
          <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cards">
          <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Daily Views</div>
          </div>
          <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cards">
          <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Daily Views</div>
          </div>
          <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>Resumo</h2>
            <a class="btns" href="#">Ver Todos</a>
          </div>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Payment</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Start Redri</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status delivered">Redri</span></td>
              </tr>
              <tr>
                <td>Start Redri</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status due">Redri</span></td>
              </tr>
              <tr>
                <td>Start Redri</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status returned">Redri</span></td>
              </tr>
              <tr>
                <td>Start Redri</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status delivered">Redri</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="recentCustomers">
          <div class="cardHeader">
            <h2>Contas</h2>
            <a class="btns" href="#" onclick="loadAccountsTableInactive()">Inativas</a>
          </div>
          <table>
            <tbody id="accountsTable">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

 



  <div class="modal fade" id="manageAccount" tabindex="-1" aria-labelledby="manageAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="manageAccountLabel">Gerênciar Conta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2">
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditOwner" placeholder="Proprietário">
                <label for="accountEditOwner">Proprietário</label>
                <div id="error-message-owner" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditBank" placeholder="Banco">
                <label for="accountEditBank">Banco</label>
                <div id="error-message-bank" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditAgency" placeholder="Agência">
                <label for="accountEditAgency">Agência</label>
                <div id="error-message-agency" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditNumber" placeholder="Conta">
                <label for="accountEditNumber">Conta</label>
                <div id="error-message-account" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditDigit" placeholder="Dígito">
                <label for="accountEditDigit">Dígito</label>
                <div id="error-message-digit" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="accountEditBalance" placeholder="Saldo Atual">
                <label for="accountEditBalance">Saldo Atual</label>
                <div id="error-message-balance" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="date" class="form-control" id="balanceEditDate" placeholder="Data do Saldo">
                <label for="balanceEditDate">Data do Saldo</label>
                <div id="error-message-date" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <button class="btn btn-danger w-100">Deletar</button>
                <div id="error-message-date" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <button id="accountStatusBtn" class="btn w-100" onclick="handleAccountStatus(event)"></button>
                <div id="error-message-date" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <button class="btn btn-primary w-100">Sair</button>
                <div id="error-message-date" class="invalid-feedback">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="../assets/logo.png" class="rounded me-2" style="width:32px;height: 32px;" alt="...">
        <strong class="me-auto">Opção</strong>
        <small id="date-time"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div id="notification" class="toast-body">

      </div>
    </div>
  </div>

  <div class="modal fade modal-dialog modal-dialog-centered" id="sign_out_modal" tabindex="-1" aria-labelledby="sign_out_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style=" background: linear-gradient(180deg, #003147, rgb(6, 6, 190));
      transition: 0.5s;">
        <div class="modal-body" style="color: #fff; font-weight: 500; font-size: 20px;">
          <p>Deseja realmente fechar o sistema?.</p>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <div class="form-floating">
              <button class="btn btn-warning w-100" onclick="cancelSignOut(event)">Não</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <button class="btn btn-danger w-100" onclick="confirmSignOut(event)">Sim</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../scripts/renderer.js"></script>
  <script src="../scripts/index.js"></script>
  
</body>

</html>