<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/preview.css">
  <title>Extrato OFX</title>
</head>

<body>
  <view
    style="display: flex; height:20vh; width:100%;flex-direction: column;justify-content: center;align-items: center; background-color: #f7f7f7;">
    <view style="display:flex; flex-direction: row;width:100%; justify-content:space-evenly;">
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px; ">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Código
          do Banco</label>
        <span id="bankId" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column;align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Nome
          do Banco</label>
        <span id="bankName" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Agência</label>
        <span id="accountAg" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Conta</label>
        <span id="accountNumber" style="font-size:20px; font-weight: 400;"></span>
      </view>

    </view>
    <view style="display:flex; flex-direction: row;width:100%; justify-content:space-evenly;">
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Proprietário</label>
        <span id="owner" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Começo</label>
        <span id="start" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Fim</label>
        <span id="end" style="font-size:20px; font-weight: 400;"></span>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:200px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Status</label>
        <span id="status" style="font-size:20px; font-weight: 400;"></span>
      </view>
    </view>
  </view>

  <table id="tableScale" class="table table-hover table-striped header-fixed ">
    <thead class="thead" style="background:linear-gradient(45deg, #003147, rgb(6, 6, 190)); color:#fff">
      <tr>
        <th class="date">Data</th>
        <th class="docId">Documento</th>
        <th class="historic">Histórico</th>
        <th class="debitLabel">Débito</th>
        <th class="creditLabel">Crédito</th>
      </tr>
    </thead>
    <tbody id="ofx-table"></tbody>
  </table>

  <div
    style="display:flex; width:100%; height:5vh; margin-top:0px; background-color:blueviolet;justify-content: flex-start;">
    <button class="btn btn-danger w-50" onclick="backToHome(event)">Voltar para Menu Home</button>
    <button class="btn btn-success w-50" onclick="incorporate(event)">Incorporar Extrato Bancário</button>
  </div>



  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img
          src="https://lh3.googleusercontent.com/--qf6ZRyi43E/XgYzJDAhRAI/AAAAAAAADzA/UgPD3Z1cPOYA_LFIu5HDqsJKd5yFXZbogCEwYBhgLKtADABHVOhzSzAsHdsJ612qeUeV0in1GEWd1OisUI5zsgKPX8E2XsnFKvchFkpzpOmLVOb63FYfo111AfOGQn7cDGGBm_K4xpc79vVQysNZiD8rhD0mN5GnJtdc8KPTMvtFQ3xWH_Ik3KyG0570nAj2LLoKKea2Tu9eQry6EOmGsO7Z_LvjDrAJHRdsRuoVrm-ArlaFAQ9Y4z9RfO265PH1gjYzrGiCjab1JhUngBE23MSSLV_nRR3D3Aa9kpDo-mRBogLi3CTMyapTE4kL_IZTznedvMsxLRYyklU192mP7GfG7KvJxaGLWruVnowWhxxOLcF5FD1iPCL3YGdk4OB2ZhSc0HYESVW-NMCOlQB7lE9jC1HbIITyOjFNTTizOR5bkiX0MS3LE3AqAw87t_bbwz9TL6Ei8APIVDpbIV-HkBDE-ieUuPdA8oYFDLTiOIdLlwSSAsB5-YYRvdAv0hAI7oHEjEBd67UIAlTnlSMGXp4vAzIfsLj5mpOaZqrWEcLrakyqotgMWtuo_J-QzA_v-dsnIFe2bewFkxUZ-MJILqj7spgWZUJdQos10dTF5BKeqAy0VFRmXYGrNcnoQSJVOsTI-fGdB8pAYQ2ZXP0T6QOUwj6uEiQY/w32-h32-p/Logo%2Brinc%25C3%25A3o%2B%25281%2529.jpg"
          class="rounded me-2" alt="..." />
        <strong class="me-auto">Fazenda Rincão Gaúcho</strong>
        <small><span id="date-time"></span></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="notification" id="notification"></div>
    </div>
  </div>

  




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
  <script src="../scripts/renderer.js"></script>
  <script src="../scripts/preview.js"></script>

</body>

</html>