<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/report.css">
  <title>Relatórios</title>
</head>

<body>
  <view
    style="display: flex; height:20vh; width:100%;flex-direction: column;justify-content: center;align-items: center; background-color: #f7f7f7;">
    <view style="display:flex; flex-direction: row;width:100%; justify-content:space-evenly;">
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Proprietário</label>
        <select id="owner" style="width:100%;font-size:20px; font-weight: 400;" onchange="loadBanks(event,this.value)">
        </select>
      </view>
      <view style="display:flex;flex-direction: column;align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Banco</label>
        <select id="bankName" style="width:100%;font-size:20px; font-weight: 400;"
          onchange="loadAccounts(event,this.value)">
        </select>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Conta</label>
        <select id="accountNumber" style="width:100%;font-size:20px; font-weight: 400;">
        </select>
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Começo</label>
        <input type="date" id="start" style="width:100%;font-size:20px; font-weight: 400;">
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Fim</label>
        <input type="date" id="end" style="width:100%;font-size:20px; font-weight: 400;">
      </view>
      <view style="display:flex;flex-direction: column; align-items: center;margin-top:3px">
        <label
          style="font-size:22px ;color:#fff;width:150px;background:linear-gradient(45deg, #003147, rgb(6, 6, 190));border-radius: 10px; padding:0 8px">Filtro</label>
        <button class="btn btn-primary" onclick="report(event)">
          Buscar
        </button>
      </view>
    </view>
  </view>
  <table id="tableScale" class="table table-hover table-striped header-fixed ">
    <thead class="thead" style="background:linear-gradient(45deg, #003147, rgb(6, 6, 190)); color:#fff">
      <tr>
        <th class="date">Data</th>
        <th class="names">Nome</th>
        <th class="bank">Banco</th>
        <th class="account">Conta</th>
        <th class="historic">Histórico</th>
        <th class="debitLabel">Débito</th>
        <th class="creditLabel">Crédito</th>
        <th class="saldLabel">Saldo</th>
      </tr>
    </thead>
    <tbody id="report-table"></tbody>
  </table>
  <div
    style="display:flex; width:100%; height:5vh; margin-top:0px; background-color:blueviolet;justify-content: flex-start;">
    <button class="btn btn-danger w-100" onclick="backToHome(event)">Voltar para o Menu</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
  <script src="../scripts/renderer.js"></script>
  <script src="../scripts/report.js"></script>
</body>

</html>